  h1 {
    color:rgb(255, 255, 255); 
    font-family: arial; sans-serif; 
    font-size: 36px; 
    font-weight: bold;
    text-align: center; 
    text-shadow: 2px 2px 5px #000000;
}

h1 {
    transition: transform 0.5s ease;
    }
    
    h1:hover {
    transform: scale(1.2) translate(10px, 10px);
    }
    

body {
    background-image: url(imagenes/si.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
   }
  
   h3 {
    color:rgb(5, 5, 5); 
    font-family: helvetica, sans-serif;
    font-size: 16px; 
    font-weight: bold;
    text-align: center; 
}
  h3 {
    background-color: #f2f2f2;
    padding: 10px; 
    border-radius: 10px; 
  }
  
  h3 {
    border-bottom: 2px solid #5e8cff;
  }
  h2 {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.5s ease;
    opacity: 0.5;
  }
  p {
    font-family: Arial, sans-serif;
  }
  
  body {
    text-align: center;
  }
  
  
img {
  transition: transform 0.5s ease; 
}
 img:hover {
  transform: translateX(15px); 
 } 
 .autora{
  font-family: serif;
  font-size: 20px;
  color: rgb(227, 126, 221);
  text-shadow: 1px 1px 1px #000000;
 }

.subtitulo {
  font-family: courier;
  color: #f2f8fb;
  text-shadow: 1px 1px 1px #075379;

  animation: escribir 2s forwards;
}

@keyframes escribir {
  0% {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
  }
  100% {
    width: 100%;
  }
}
a {
  color: #000000; 
  text-decoration: none; 
  transition: color 0.5s ease; 
}
a:hover {
  color: #d555ff; 
}

